<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bocsoft.wwsf.webconsole.mapper.SysAuthMapper" >
	
	<resultMap id="SysAuthMap" type="SysAuth">
		<result column="ID" property="id" />
		<result column="NAME" property="name" />
		<result column="PID" property="pid" />
		<result column="DATA_MODULE" property="dataModule" />
		<result column="SORT" property="sort" />
		<result column="ICON_CLASS" property="iconClass" />
		<result column="DATA_FILTER_TAGS" property="dataFilterTags" />
		<result column="REQUIRES_PERMISSIONS" property="requiresPermissions" />
  	</resultMap>
  
	<select id="querySysAuth" parameterType="java.util.Map" resultMap="SysAuthMap">
		select * from ww_sys_auth a where 1=1
		<if test="authId != null ">
			and id = #{authId}
		</if>
		order by a.sort
	</select>
	
	<select id="getSysAuthByUserId" parameterType="java.util.Map" resultMap="SysAuthMap">
		select a.* from ww_sys_user u,ww_sys_user_role_ref urr,ww_sys_role r,ww_sys_role_auth_ref rar,ww_sys_auth a
		where u.login_name=urr.user_id and urr.role_id = r.role_id and r.role_id = rar.role_id and rar.auth_id = a.id
		  and u.del_flag = '1' and r.del_flag='1'
		<if test="userId != null ">
		  and u.login_name = #{userId}
		</if>
		group by a.id,a.name,a.pid,a.data_module,a.sort,a.icon_class,a.data_filter_tags,a.requires_permissions
		order by a.sort
	</select>
	
</mapper>